.title-container{
    background-color:red;
    text-align: center;
    border-radius: 15px;
    box-shadow: 3px 3px 5px whitesmoke;
    color:floralwhite;
}
.container{
    display: flex;
    justify-content: center;
}
.main-div{
    display: flex;
    justify-content: center;
    height: 480px;
    width: 340px;
    background-color: antiquewhite;
    border-radius: 35px;
}

.btn{
    font-size: 30px;
    width: 150px;
    height: 40px;
    border-radius: 15px;
    border: 2px solid green;
}
.input-box{
    font-size: 20px;
    height: 30px;
    width: 250px;
    border-radius: 10px;
    border: 2px solid navy;
}
.sub-div{
    margin-top: 50px;
}
.output{
    margin-top: 30px;
    text-align: center;
    width: 300px;
    height: 70px;
    border-radius: 15px;
    color: rgb(57, 14, 251);
    font-size: 20px;
    background-color: azure;
    border: 2px solid red;
}